{%- extends "base.html" %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
        <head>
            <meta charset="utf-8">
            <title>Degree validation</title>
            <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
        </head>
        <body>
            <header>
                <div class="container">
                    <h1 class="logo">Degree validation</h1>
                    <form action = "{{ url_for('upload') }}" method = "POST" enctype = "multipart/form-data">
                        <p><input type = "file" name = "uploaded_file" required/></p>
                        <p>Verify: <input type = "submit" value = "Classic method" name="classic"/>   <input type = "submit" value = "Neuronal method" name="neuronal"/></p>
                    </form>
                </div>
            </header>
        </body>
    </html>
{%- endblock %}